<app-nav></app-nav>
<div class="container" class="mt-5">
    <!-- LOGIN -->
    <div *ngIf="showLogin" class="d-flex flex-column align-items-center">
      <!-- <div class="col"></div> -->
      <div  style="min-width:340px; max-width: 40%;">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="signInForm" >
              <div class="form-group">
                <input class="form-control my-4" id="email" placeholder="Username" type="email" formControlName="email">
              </div>
              <div class="form-group">
                <input class="form-control my-4" id="password" placeholder="Password" type="password" formControlName="password">
              </div>
            </form>
            <div class="align-self-center">
              <button class="mt-4" type="button" style="width:70%;" (click)="loginUser()">Sign In</button>
            </div>
            <div *ngIf="showSignInInvalid">Please enter your name!</div>
          </div>
        </div>
      </div>
      <!-- <div class="col"></div> -->
    </div>
    <!-- SIGN UP -->
    <div *ngIf="!showLogin" class="d-flex flex-column align-items-center">
      <div  style="min-width:340px; max-width: 40%;">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="signUpForm" >
              <div class="form-group">
                <input class="form-control my-2" id="name" placeholder="Name" type="text" formControlName="name">
                <input class="form-control my-2" id="email" placeholder="Email" type="email" formControlName="email">
                <input class="form-control my-2" id="password" placeholder="Password" type="password" formControlName="password">
              </div>
            </form>
            <button class="align-self-center" type="button" style="width:70%;" (click)="create_user()">Sign Up</button>
  
            <div *ngIf="showSignUpInvalid">Please enter your info!</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showSpinner" class="row m-3 text-center">
      <div class="col-4"></div>
      <div class="col-4">
        <mat-spinner></mat-spinner>
      </div>
      <div class="col-4"></div>
    </div>
    <div *ngIf="incomingSnackMessage" class="row m-3">
      <div class="col-6 offset-3">
        <mat-card style="background-color:red; color:white;">{{incomingSnackMessage}}</mat-card>
      </div>
    </div>
    <div class="row text-center mt-4" *ngIf="showLogin">
      <div class="col-1"></div>
      <div class="col-10 mx-1">Not signed up yet? </div>
      <div class="col-1"></div>
    </div>
    <div class="row text-center mt-2" *ngIf="showLogin">
      <div class="col-1"></div>
      <div class="col-10 mx-1"><button type="button" (click)="showLogin =! showLogin">Sign Up Here</button></div>
      <div class="col-1"></div>
    </div>
    <div class="row text-center mt-4" *ngIf="!showLogin">
      <div class="col-1"></div>
      <div class="col-10">Already a user?</div>
      <div class="col-1"></div>
    </div>
    <div class="row text-center mt-2" *ngIf="!showLogin">
      <div class="col-1"></div>
      <div class="col-10"><button type="button" (click)="showLogin =! showLogin">Login</button></div>
      <div class="col-1"></div>
    </div>
  </div>
  