<app-nav></app-nav>


<div class="row text-center w-100">
    <div class="col my-4 w-100">
        <h2>Let's get weird!</h2>
    </div>
</div>
<div class="row w-100">
    <div class="col w-100">
        <img class="dropshadowclass" src="../../../assets/Shirtless-Eric-Cropped-Animation.jpg">
    </div>
</div>

<div class="row text-center w-100">
    <div class="col my-4 w-100">
        <h3>The Idea</h3>
    </div>
</div>
<div class="row text-center w-100">
    <div class="col my-4 w-100">
        <p>
            Navigate to "My Tasks" to create your own task(s). Feel free to be a real asshole here... 
        </p>
        <p>
            Then navigate the "Tasks" to vote on all tasks available. The top ten will be used in the random generator.
        </p>
    </div>
</div>