<form [formGroup]="taskForm" >
    <textarea  class="mx-4 my-2" id="task" placeholder="Task" type="text" formControlName="description"></textarea>
    <input class="mx-4 my-2" id="ifFailed" placeholder="If Failed" type="text" formControlName="ifFailed">
    <input class="mx-4 my-2" id="reward" placeholder="If Successful" type="text" formControlName="reward">
</form>
<button class="m-4"type="button" (click)="createTask()">Create Task</button>


<!-- 

<table>
    <thead>
        <th>Task</th>
        <th>If Failed</th>
        <th>Reward</th>
        <th>Thy Maker</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.description}}</td>
            <td>{{task.if_failed}}</td>
            <td>{{task.reward}}</td>
            <td>{{task.created_by}}</td>
        </tr>
    </tbody>
</table> -->

<!-- 
<table mat-table [dataSource]="tasks" class="mat-elevation-z8">

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Task </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="if_failed">
      <th mat-header-cell *matHeaderCellDef> If Failed </th>
      <td mat-cell *matCellDef="let element"> {{element.if_failed}} </td>
    </ng-container>
  
    <ng-container matColumnDef="reward">
      <th mat-header-cell *matHeaderCellDef> If Victorious </th>
      <td mat-cell *matCellDef="let element"> {{element.reward}} </td>
    </ng-container>
  
    <ng-container matColumnDef="created_by">
      <th mat-header-cell *matHeaderCellDef> The Creator </th>
      <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link pointer"> 
          <button [disabled]="username!==element.created_by" (click)="deleteRowData(element)">Delete</button>  
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->


  <table mat-table
       [dataSource]="tasks" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.if_failed}} </div>
          <div class="example-element-symbol"> {{element.reward}} </div>
          <div class="example-element-name"> {{element.created_by}} </div>
          <!-- <div class="example-element-weight"> {{element.weight}} </div> -->
        </div>
        <div class="pointer">
            <button [disabled]="username!==element.created_by" (click)="deleteRowData(element)">Delete</button>  
        </div>
        <!-- <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div> -->
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
  
  