<app-nav></app-nav>
<div class="container">
    <div class="row w-80">
        <div class="col-12 w-60">
            <div class="card text-center">
                <div class="card-body" style="overflow:hidden;">
                    <form [formGroup]="photoUploadForm">
                        <input class="input-width" id="image" placeholder="image" type="file"
                            formControlName="image" (change)="fileProgress($event)"/>
                        <div class="mb-3" *ngIf="uploadedFilePath">
                            {{uploadedFilePath}}
                        </div>
                        <div class="image-preview m-3" *ngIf="previewUrl">
                            <img [src]="previewUrl" height="300" />                 
                        </div>

                        
                        <div class="form-group">
                            <button class="btn btn-primary"  (click)="onSubmit()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-80">
        <div class="col-12 w-60">
            <div class="card text-center">
                <div class="card-body">
                    <div *ngIf="photoIsLoading">
                        <div  class="row m-3 text-center">
                            <div class="col-4"></div>
                            <div class="col-4">
                              <mat-spinner></mat-spinner>
                            </div>
                            <div class="col-4"></div>
                          </div>
                    </div>
                                    
                    <div *ngIf="photoError">
                        {{photoError}}
                    </div>
                    <div *ngIf="photoSuccess">
                        {{photoSuccess}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


